/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
        width:350px;
        height:150px;
      }

      div#legend > div > img {
        max-width:100%;
      }
      
      #return {
        border: 0;
        background-color: transparent; 
        position: absolute;
        right: 0px;
        top: 12.87px; 
        margin-top: 0.5rem; 
        margin-right: 4px; 
        font-size: 0.75rem; 
        line-height: 1rem; 
        /* background-color: transparent; 
        --tw-text-opacity: 1;
        color: rgb(96 165 250 / var(--tw-text-opacity)); 
        font-weight: 600;  */
      }

      .return {
        background-color: transparent; 
        --tw-text-opacity: 1;
        color: rgb(96 165 250 / var(--tw-text-opacity)); 
        font-weight: 600;
        text-decoration: none;
      }

      .return:hover {
        --tw-text-opacity: 1;
        color: rgb(209 213 219 / var(--tw-text-opacity));
      }